/* Popin font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* basic-css */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* css start */

header{
    margin-top: 60px;
    padding-left: 30px;
}
main{
    background-color: #fff;
}
.container-top{
    width: 1200px;
    margin: 0 auto;
}
.container{
    width: 1030px;
    margin: 0 auto;
}
.title-heading{
    font-size: 24px;
    
}
.banner-section{
    padding: 80px 0;
}
.banner-items{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0 20px;
}
.banner-img{
      transition: transform 1s linear;
}
.banner-img:hover{
      transform: scale(1.3);
}
.banner-title{
    font-size: 60px;
    font-weight: 900;
}
.banner-p{
    font-size: 22px;
    color: #000;
    margin: 10px 0;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    background-color: #e1111e;
    padding: 10px 30px;
    border-radius: 25px;
}


/* Popular section style start */


.popular-section{
    margin: 100px 0;
}
.title-popular{
    font-size: 30px;
    color: #3a3a3a;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.popular-item{
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  
}

.popular-img{
    transition: transform 0.5s linear;
    overflow: hidden;
}
.popular-img:hover{
    transform: scale(1.1);
}
.item-name{
    font-size: 35px;
    font-weight: normal;
    color: #18191f;
}
.price{
    font-size: 30px;
    font-weight: normal;
    color: #3a3a3a;
}
.star{
    font-size: 11px;
    
}
.filled{
    color: #fb8200;
}
.empty{
    opacity: 0.3;
}
.rate{
    font-size: 16px;
    color: #000;
    margin-left: 10px;
}
.short-des{}


/* footer style start  */
.footer-section{
    color:#fff;
    background-color: #0a0826;
    padding: 50px 0;
}
.footer-items{
    text-align: center;
}
.footer-title{
    font-size: 35px;
}
.footer-items p{
    font-size: 20px;
}
.social-menu{
    margin-top: 20px;
}
.social-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-menu ul li{
    list-style: none;
    margin: 10px;
    width: 40px;
    height: 40px;  
    border-radius: 50%;
    background-color: #3a3a3a;
}
.social-menu ul li a{
    text-decoration: none;
    color: #fff; 
    font-size: 20px;
    line-height: 40px;

}


@media only screen and (max-width: 768px) {
    .container-top, .container{
        width: 100%;
    }
    .title-heading{
        text-align: center;
    }
    .banner-items{
        flex-direction: column;
      
        align-items: center;
    }
    .banner-title{
        font-size: 50px;
        font-weight: 700;
    }
    .popular-items{
        
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
   
    .banner-items{
        flex-direction: column; 
    }
    .banner-item{
        text-align: center; 
    }
    .popular-items{  
        grid-template-columns: repeat(1, 1fr);
       
    }
     .popular-item{  
       
       
    }
}


